[mysqld]
datadir=/home/minsky/mariadb-10.2/mysql-test/var/install.db
plugin-dir=/home/minsky/mariadb-10.2/storage/rocksdb
language=/home/minsky/mariadb-10.2/sql/share/english
socket=/tmp/mysql.sock
port=3307
lower_case_table_names=1
plugin-load=ha_rocksdb
default-storage-engine=rocksdb
rocksdb_reset_scheme=1
rocksdb_allocation_scheme=2
rocksdb_zc_scheme=3
rocksdb_predict_cnt=4
rocksdb_zc=25
rocksdb_until=25
rocksdb_max_background_compactions=8
rocksdb_max_background_flushes=8
rocksdb_level0_stop_writes_trigger=8
rocksdb_level0_file_num_compaction_trigger=4
rocksdb_level0_slowdown_writes_trigger=8
rocksdb_soft_pending_compaction_bytes_limit=171798691840
rocksdb_hard_pending_compaction_bytes_limit=171798691840
